.white-nike-brand {
    width: 75px;
    height: auto
}

.nike-swoosh-main {
    width: 250px;
    height: auto;
}

.bg-texture {
    /* The image used */
    background-image: url("../images/runCHI.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 10000px black;
}

#findMap {
  height: 400px;
  width: 100%;
  margin-bottom: 30px;
  backface-visibility: yellow;
}

.run_list{
    background:#ddd;
    width: 30%;
    float: left;
    margin: 10px;
    border: solid 1px grey;
    border-radius: 5px;
}

#list{
    min-height: 600px;
}

#team{
    min-height: 1000px;
}

.joined{
    background: blue;
}


@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(480px);
	}

	80% {
		transform: translateX(480px);
	}

	100%{
		opacity: 1;
		transform: translateX();
	}
}

.slider{
        transform: translate(250px,0);
        transition: all 2s ease-out;
}

.hero .brand{
    margin-top: 180px;
}

.half{
    width: 100%;
}

body .modal-dialog{
   max-width:700px;
}

.teamRun{
    color: green;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 30%;
  height: 45px;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 2px solid #ddd;
  margin-bottom: 12px;
  border-radius: 5px;
  color: gray;
}
